.ToastViewport {
	position: fixed;
	bottom: 1rem;
	left: 2rem;
	width: 300px;
	max-width: 100%;
	z-index: 9999;
}

.ToastRoot {
	will-change: opacity;
}

.ToastRoot[data-state='closed'] {
	animation: fade-out 200ms ease-in forwards;
}

@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

@media (prefers-reduced-motion: reduce) {
	.ToastRoot[data-state='closed'] {
		animation-duration: 1ms;
	}
}
