@import 'tailwindcss';


@layer base {
	body {
		-webkit-font-smoothing: none;
		font-smooth: never;
		
	}

	
	
	html {
		font-family: "PixelOperator", sans-serif;
		font-size: 115%;
	}
}



@font-face { 
    font-family: "PixelOperator";
    src: url("./fonts/PixelOperator.ttf") format("truetype");
    font-weight: normal;
    font-display: block;
}



